.news {
    background-color: #ECF0F1;
    border-radius: 7px;
    height: 100%;

    .news-title {
        color: #202020;
        font-weight: 600;
    }

    .news-content {
        color: #797979;
    }
}