@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import "colors";

body {
    overflow: hidden;
    background-color: $brand-dark-2;
    font-family: Poppins;
    color: $brand-light-1 !important;

    .navbar {
        background-color: $brand-dark-2-dark;
    }
}

#scroller {
    overflow-y: auto;
    height: 100vh;
    perspective: 100px;
}

section {
    padding: 5rem 0 5rem 0;
    position: relative;
    overflow: hidden;

    .section-background {
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0px;
    }

    .section-titre {
        font-weight: 800;
        text-align: center;
        margin-bottom: 5rem;
    }

    .waves {
        position: absolute;
        height: 9vw;
        -webkit-filter: drop-shadow(0px 0px 5px $brand-dark-2-dark);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#202020')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#202020')";
        &.waves-top {
            top: 0;
        }
        &.waves-bottom {
            bottom: 0;
        }
    }
}

b {
    font-weight: 800;
}

.navbar {
    height: 4.5rem;

    .navbar-brand img {
        height: 50px; 
        image-rendering: pixelated; 
        position: absolute;
        top: 10px;
    }
}

footer {
    background-color: $brand-dark-2;
}

.btn {
    border-radius: 7px;
    color: inherit;

    &.btn-red {
        background-color: $brand-red-1;
        color: white;
        &:hover {
            background-color: $brand-red-1-dark;
            color: white!important;
        }
    }

    &:hover {
        color: inherit!important;
    }

}

input {

}

.form-control {
    background-color: $brand-dark-2;
    border: none;
    border-radius: 7px;
    color: $brand-light-1;

    &:focus {
        background-color: $brand-dark-2!important;
        box-shadow: 0 0 0 2px $brand-light-1;
        color: $brand-light-1;
    }

    &:disabled {
        background-color: $brand-dark-2-dark;
        cursor: no-drop;
        border: 2px solid $color-black;
        opacity: 0.3;
    }
}



.custom-control-label {
    &::before {
        background-color: transparent;
        border-radius: 3px;
        border: $brand-light-1 solid 2px;
    }
}



.custom-checkbox {

    .custom-control-input {
        &:checked~.custom-control-label::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23202020' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
        }
    
        ~ .custom-control-label::after {
            transition-duration: .2s;
        }
    
        &:checked ~ .custom-control-label::before {
            background-color: $brand-light-1!important;
            border-color: $brand-light-1!important;
        }
    
        &:focus~.custom-control-label::before {
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
        }

        &:focus:not(:checked)~.custom-control-label::before {
            border-color: $brand-light-1;
        }

        &:not(:disabled):active~.custom-control-label::before {
            background-color: $brand-light-1;
            border-color: $brand-light-1;
        }
    }
}




a {
    color: $brand-red-1;

    &.no-hover:hover {
        color: inherit!important;
    }
}

a:hover {
    color: $brand-red-1-dark;
}