@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap&family=Comic+Neue');
@import "colors";

body {
    overflow: hidden;
    background-color: $brand-dark-2;
    font-family: Poppins;
    color: $brand-light-1 !important;

    .navbar {
        background-color: $brand-dark-2-dark;
    }
}

#scroller {
    overflow-y: auto;
    height: 100vh;
    perspective: 100px;
    scroll-behavior: smooth;
}

section {
    padding: 8rem 0;
    position: relative;
    overflow: hidden;

    &#header {
        .section-background {
            background-image: linear-gradient(transparent 0%, #2628298c 0%), url(../img/home-background.png);
        }
    }

    .section-background {
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0px;
    }

    .section-titre {
        font-weight: 800;
        text-align: center;
        margin-bottom: 5rem;
    }

    .waves {
        position: absolute;
        height: 9vw;
        &.waves-top {
            top: 0;
        }
        &.waves-bottom {
            bottom: 0;
        }
    }

}

@media (max-width: 767.98px) {
    section .waves {
        height: 5vw!important;
    }
}

a {
    color: $brand-red-1;

    &.no-hover:hover {
        color: inherit!important;
    }
}

hr.white {
    border-top: 1px solid #ffffff1a;
}

a:hover {
    color: $brand-red-1-dark;
}

footer {
    background-color: $brand-dark-2;
}

.cog-animate-parent {
    margin-right: 1rem;

    .cog-animate {
        animation: spinner 1s infinite linear;
    }
}

@keyframes spinner {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}