.brand-logo {
    color: inherit;
    display: inline-block;
}

.fa-twitter {
    transition-duration: .2s;
    &.colored:hover {
        transition-duration: .2s;
        color: #1da1f2;
    }
}

.fa-facebook {
    transition-duration: .2s;
    &.colored:hover {
        transition-duration: .2s;
        color: #3b5998;
    }
}

.fa-github {
    transition-duration: .2s;
    &.colored:hover {
        transition-duration: .2s;
        color: #6cc644;
    }
}

.fa-youtube {
    transition-duration: .2s;
    &.colored:hover {
        transition-duration: .2s;
        color: #ff0000;
    }
}

.fa-discord {
    transition-duration: .2s;
    &.colored:hover {
        transition-duration: .2s;
        color: #7289da;
    }
}

.fa-instagram {
    transition-duration: .2s;
    &.colored:hover {
        transition-duration: .2s;
        color: #fcaf45;
    }
}