$color-black: #000000; 
$color-gray-light: #d1d3e5;
$color-discord: #7289DA;
$color-discord-dark: #6176c4;

$brand-red-1: #AC4646;
$brand-red-1-dark: #943a3a;
$brand-red-2: #6b2727;
$brand-red-2-dark: #592121;

$brand-light-1: #ffffff;
$brand-light-1-dark: #d1d3e5;
$brand-light-2: #b6b9bd;
$brand-light-2-dark: #a2a6ac;

$brand-dark-1: #868686;
$brand-dark-1-dark: #636363;
$brand-dark-2: #2d2d2d;
$brand-dark-2-dark: #202020;