$color-black: #000;
$color-gray-cod: #161616;
$color-gray-mineshaft: #202020;
$color-gray: #282828; 
$color-gray-light: #D9DADC;
$color-discord: #7289DA;
$color-discord-dark: #6176c4;
$color-red: #AC4646;
$color-red-dark: #943a3a;