{% load static %}
<footer class="py-4">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-4 mr-md-4 mb-4 mb-md-0">
                <h5>À propos</h5>
                <div class="text-white-50">RedCrarft.org est un serveur Minecraft à but non lucratif ouvert en 2020. Retrouvez plus d'infos sur la page <a href="about.html">à propos & FAQ</a>.</div>
            </div>
            <div class="col-md-4">
                <h5>Réseaux Sociaux</h5>
                <div class="mb-3">
                    <a target="_blank" href="{{ links.twitter }}" class="brand-logo mr-4 mb-4"><i class="fab fa-twitter colored fa-2x"></i></a>
                    <a target="_blank" href="{{ links.facebook }}" class="brand-logo mr-4 mb-4"><i class="fab fa-facebook colored fa-2x"></i></a>
                    <a target="_blank" href="{{ links.github }}" class="brand-logo mr-4 mb-4"><i class="fab fa-github colored fa-2x"></i></a>
                    <a target="_blank" href="{{ links.youtube }}" class="brand-logo mr-4 mb-4"><i class="fab fa-youtube colored fa-2x"></i></a>
                    <a target="_blank" href="{{ links.discord }}" class="brand-logo mr-4 mb-4"><i class="fab fa-discord colored fa-2x"></i></a>
                    <a target="_blank" href="{{ links.instagram }}" class="brand-logo mr-4 mb-4"><i class="fab fa-instagram colored fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>