{% load static %}
<footer class="py-4 bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mr-4">
                <h5>À propos</h5>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolores, veniam sit obcaecati aut odit in assumenda, deleniti, molestias ullam modi.</div>
            </div>
            <div class="col-md-4">
                <h5>Réseaux Sociaux</h5>
                <a target="_blank" href="{{ links.twitter }}" class="brand-logo mr-4"><i class="fab fa-twitter fa-2x"></i></a>
                <a target="_blank" href="{{ links.facebook }}" class="brand-logo mr-4"><i class="fab fa-facebook fa-2x"></i></a>
                <a target="_blank" href="{{ links.youtube }}" class="brand-logo mr-4"><i class="fab fa-youtube fa-2x"></i></a>
                <a target="_blank" href="{{ links.discord }}" class="brand-logo mr-4"><i class="fab fa-discord fa-2x"></i></a>
                <a target="_blank" href="{{ links.instagram }}" class="brand-logo mr-4"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>