{% load static %}

<nav class="navbar">
    <div class="container flex-column flex-lg-row align-items-lg-center">
        <input type="checkbox" id="navbar-toggler">
        <div class="navbar-top">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="d-inline-block" src="{% static 'website/img/inline_org_color.png' %}" alt="Redcraft.org logo">
            </a>
            </button>
            <label for="navbar-toggler" class="toggler-icon">
                <div class="icon"></div>
            </label>
        </div>
        <div class="navbar-collapse">
            <div class="container justify-content-lg-end">
                <ul class="navbar-nav flex-column flex-lg-row-reverse mt-4 mt-lg-0">
                    {% for page_list in pages %}
                    <li class="nav-item {% if page == page_list.name %}active{% endif %}">
                        <a class="nav-link" href="{% url page_list.name %}">{{ page_list.display }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>