{% load static %}

<section id="header">
    <div class="section-background"></div>
    <svg class="waves waves-bottom" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 50px; width: 100%;">
        <path d="M-0.56,-2.06 C149.99,150.00 349.03,149.50 500.00,-1.80 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill:{{ waveFill }}"></path>
    </svg>
    <div class="d-flex justify-content-center">
        <h1 class="font-weight-bolder">{{ title }}</h1>
    </div>
</section>