{% load static %}
<input type="radio" id="server-radio-{{ index }}" name="server-active-radio" {% if index == 0 %} checked {% endif %}>
<div class="server-active">
    <div class="server-active-animate text">
        <h1 class="server-active-title font-weight-bold text-right">{{ title }}</h1>
        <div class="text-right">
            <p>{{ text }}</p>
            {% if livemap != "" %}<div class="btn btn-red">Live map</div>{% endif %}
        </div>
    </div>
    <div class="server-active-animate image d-flex justify-content-center">
        <img class="server-active-img" src="{% static 'website/img/' %}{{ img }}" alt="server presentation image">
    </div>
</div>
