<div class="staff-member p-3">
    <div class="d-flex justify-content-center mb-3">
        <img src="{{ img }}" alt="" width="120px" class="staff-img d-block">
    </div>
    <h5 class="w-100 text-center font-weight-bolder mb-3">{{ name }}</h5>
    <div class="staff-socials d-flex justify-content-around">
        {% for social in socials %}
            <a href="{{ social.url }}" class="brand-logo no-hover" target="_blank">
                <i class="fab fa-{{ social.logo_fa }}"></i>
            </a>
        {% endfor %}
    </div>
</div>