{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% with title="À propos & FAQ" waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="about">
    <div class="container">
        <h3 class="section-titre">À propos</h3>
        <div class="row">
            <div class="col-md-4">
                <img class="logo-top" src="{% static 'website/img/'%}compact_color_2_transparent.png" alt="">
            </div>
            <div class="col-md-8">
                <p><b>RedCrarft.org est un serveur Minecraft à but non lucratif ouvert en 2020.</b></p>
                <p class="my-4">Né de la fusion entre TopRed.fr et KingdomHills.fr, le projet RedCraft a pour but de rassembler les communautés de joueurs Minecraft peu importe leur provenance. Grâce à une infrastructure de traduction en temps réel, les barrières du language tombent et laissent place à une communauté soudée.</p>
                <p class="my-4">L'entièreté du projet RedCraft.org est développé avec une vision flexible et moderne, permise grâce à l'open-source. Retrouvez toutes les sources sur notre <a href="{{ links.github }}" target="_blank">GitHub</a> !</p>
                <p class="my-4"><b>Se respecter, s'amuser, s'entraider</b>. Voilà les 3 mots d'ordre de RedCraft.org qui garantissent un lieu d'apprentissage et de bon vivre.</p>
            </div>
        </div>
    </div>
</section>
<section id="faq">
    <svg class="waves waves-top" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100px; width: 100%;">
        <path d="M-0.27,95.22 C171.27,186.02 271.49,-49.98 500.84,32.06 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: #202020;"></path>
    </svg>
    <div class="container">
        <h3 class="section-titre">Foire Aux Questions</h3>
        <div class="row">
            <p>À venir...</p>
        </div>
    </div>
</section>

<section id="sources">
    <svg class="waves waves-top" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100px; width: 100%;">
        <path d="M-0.33,4.25 C183.07,92.06 260.94,-55.95 500.78,68.39 L500.00,0.00 L-0.33,-1.68 Z"
            style="stroke: none; fill: #b6b9bd;"></path>
    </svg>
    <div id="sources-background" class="position-absolute section-background"></div>
    <div class="container">
        <h3 class="section-titre">Licences & sources</h3>
        <h4>Site web</h4>
        <ul>
            <li>
                <b>Django</b>
                 : Cadre de développement web open source en Python ayant pour but de rendre le développement web 2.0 simple et rapide. 
                 <a href="https://www.djangoproject.com/" target="_blank">Site web</a>
            </li>
            <li>
                <b>Bootstrap</b>
                 : Collection d'outils utiles à la création du design de sites et d'applications web. 
                 <a href="https://getbootstrap.com/" target="_blank">Site web</a>
            </li>
            <li>
                <b>Font Awesome</b>
                 : Police d'écriture et outil d'icônes qui se base sur CSS, LESS et SASS. 
                 <a href="https://fontawesome.com/" target="_blank">Site web</a> & <a href="https://fontawesome.com/license" target="_blank">License</a>
            </li>
            <li>
                <b>Sal.js</b>
                : Librairie de scroll animé légère.
                <a href="https://mciastek.github.io/sal/" target="_blank">Site web</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/about.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}