{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% with title="À propos & FAQ" waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="about">
    <div class="container">
        <h3 class="section-titre">À propos</h3>
        <div class="row">
            <div class="col-md-4">
                <img class="logo-top" src="{% static 'website/img/'%}compact_color_2_transparent.png" alt="">
            </div>
            <div class="col-md-8">
                <strong>RedCraft.org est une infrastructure de serveurs Minecraft à but non lucratif ouvert en 2020.</strong>
                <p class="my-4">Né de la fusion entre TopRed.fr et KingdomHills.fr, le projet RedCraft a pour but de rassembler les communautés de joueurs Minecraft peu importe leur origines. Grâce à un système de traduction en temps réel, les barrières du language tombent et laissent place à une communauté soudée.</p>
                <p class="my-4">L'entièreté du projet RedCraft.org est développé avec des outils modernes dans l'objectif d'avoir une infrastructure flexible, tout en étant open-source. Retrouvez toutes les sources sur notre <a href="{{ links.github }}" target="_blank">GitHub</a> !</p>
                <p class="my-4"><b>Se respecter, s'amuser, s'entraider</b>. Voilà notre credo qui garantit un lieu d'apprentissage, de divertissement et de bon vivre.</p>
            </div>
        </div>
    </div>
</section>
<section id="faq">
    <svg class="waves waves-top" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100px; width: 100%;">
        <path d="M-0.27,95.22 C171.27,186.02 271.49,-49.98 500.84,32.06 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: #202020;"></path>
    </svg>
    <div class="container">
        <h3 class="section-titre">Foire Aux Questions</h3>
        <h4>Qu'est-ce que RedCraft.org ?</h4>
        <p>RedCraft.org est une infrastructure de serveurs Minecraft multilingue. Le projet rassemble plusieurs serveurs créatifs ou survie, le tout étant complètement open-source !</p>
        <h4>Comment fonctionne le projet ?</h4>
        <p>L'entièreté du projet RedCraft.org est <em>open-source</em>. Ce qui veut dire que la totalité du projet a été crée dans un but sans profit, personne ne se fait d'argent sur le projet ! D'ailleurs, <strong>un des objectifs principaux de RedCraft.org est de s'auto-suffire</strong>. L'argent généré par le projet va uniquement pour son amélioration.</p>
        <h4>Comment aider au projet ?</h4>
        <p>La façon la plus efficace de contribuer au projet est de venir nous en parler ! Vous êtes intéressé.e à écrire du code, aider à la construction du terrain ou participer à l'organisation ? Prenez contact avec nous, que ça soit via le <a href="{% url 'contact' %}">formulaire de contact</a>, via <a href="{{ links.discord }}" target="_blank">le Discord</a> ou directement en jeu.</p>
        <h4>Quelle version le serveur supporte-t-il ?</h4>
        <p>Le serveur est joignable à partir de la version <strong>{{ minecraft_versions_min_max | first }}</strong> jusqu'à la version <strong>{{ minecraft_versions_min_max | last }}</strong>.</p>
        <h4>Comment rejoindre le serveur sur Bedrock ?</h4>
        <p>Les joueurs sur version Bedrock ne sont pas lésinés ! Pour rejoindre RedCraft.org, vous avez besoin d'un compte Java. À la connexion au serveur, les identifiants de votre compte Java vous seront demandés. Remplissez le formulaire et vous êtes prêt à nous rejoindre en jeu.</p>
    </div>
</section>

<section id="sources">
    <svg class="waves waves-top" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100px; width: 100%;">
        <path d="M-0.33,4.25 C183.07,92.06 260.94,-55.95 500.78,68.39 L500.00,0.00 L-0.33,-1.68 Z"
            style="stroke: none; fill: #b6b9bd;"></path>
    </svg>
    <div id="sources-background" class="position-absolute section-background"></div>
    <div class="container">
        <h3 class="section-titre">Licences & sources</h3>
        <h4>Site web</h4>
        <ul>
            <li>
                <b>Django</b>
                 : Cadre de développement web open source en Python ayant pour but de rendre le développement web 2.0 simple et rapide. 
                 <a href="https://www.djangoproject.com/" target="_blank">Site web</a>
            </li>
            <li>
                <b>Bootstrap</b>
                 : Collection d'outils utiles à la création du design de sites et d'applications web. 
                 <a href="https://getbootstrap.com/" target="_blank">Site web</a>
            </li>
            <li>
                <b>Font Awesome</b>
                 : Police d'écriture et outil d'icônes qui se base sur CSS, LESS et SASS. 
                 <a href="https://fontawesome.com/" target="_blank">Site web</a> & <a href="https://fontawesome.com/license" target="_blank">License</a>
            </li>
            <li>
                <b>Sal.js</b>
                : Librairie de scroll animé légère.
                <a href="https://mciastek.github.io/sal/" target="_blank">Site web</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/about.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}