{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% with title="À propos & FAQ" waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="top">
    <div class="container">
        <h3 class="section-titre">About</h3>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/about.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}