{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% with title=article.title waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="top">
    <div class="container">
    <a href="{% url 'articles' %}"><i class="fas fa-arrow-circle-left mr-3"></i>Retour</a>
        <p>{{ article.text }}</p>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/template.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}