{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% with title="Contact" waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="contact">
    <svg class="waves waves-bottom"viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100px; width: 100%;">
        <path d="M-0.27,24.17 C218.68,235.36 304.46,11.34 500.84,117.92 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #B6B9BD;"></path>
    </svg>
    <div class="container">
        <h3 class="section-titre">Contacter le staff</h3>
        <form action="#" id="contact-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <input type="text" name="pseudo" class="form-control"
                            placeholder="Pseudo Minecraft">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="discord_username" class="form-control"
                            placeholder="Identifiant Discord (Nom#0000)">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Message" rows="10" cols="10" name="message"></textarea>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <div class="contact-validation font-weight-bold"></div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg">Envoyer le message</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section id="info">
    <div class="container">
        <h3 class="section-titre">Informations</h3>
        <p>Ce formulaire vous permet d'envoyer un message directement au staff de RedCraft.org. Le message sera envoyé aux administrateurs via Discord, pensez-donc à indiquer votre pseudo Discord si nécessaire.</p>
        <p>Vous pouvez utiliser ce formulaire pour les demande de unban, les plaintes, réclamations et demandes de partenariat.</p>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'website/js/pages/contact.js' %}"></script>
{% endblock %}