{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% with title="Contact" waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="contact">
    <div class="container">
        <h3 class="section-titre">Contacter le staff</h3>
        <form action="#" id="contact-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <input type="text" name="pseudo" class="form-control"
                            placeholder="Pseudo Minecraft">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="discord_username" class="form-control"
                            placeholder="Identifiant Discord (Nom#0000)">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Message" rows="10" cols="10" name="message"></textarea>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <div class="contact-validation"></div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg">Envoyer le message</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'website/js/pages/contact.js' %}"></script>
{% endblock %}