{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<section id="header">
    <div class="section-background"></div>
    <div class="d-flex justify-content-center">
        <h1 class="font-weight-bolder">Dons</h1>
    </div>
</section>
<section id="donation-form">
    <div class="container">
        <h4 class="section-titre">Faire un don</h4>
        <form action="#">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-flex flex-column prices">
                        <input type="radio" id="donation-price-1" name="donation-price-radio" checked>
                        <label for="donation-price-1" class="price">
                            8€
                            <span>(VIP)</span>
                        </label>
                        <input type="radio" id="donation-price-2" name="donation-price-radio">
                        <label for="donation-price-2" class="price">
                            15€
                            <span>(VIP+)</span>
                        </label>
                        <input type="radio" id="donation-price-3" name="donation-price-radio">
                        <label for="donation-price-3" class="price">
                            25€
                        </label>
                        <input type="radio" id="donation-price-4" name="donation-price-radio">
                        <label for="donation-price-4" class="price">
                            €
                        </label>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="donation-pseudo" class="form-control" placeholder="Pseudo">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="donation-is-anonyme" onchange="document.getElementById('donation-pseudo').disabled = this.checked;">
                                    <label class="custom-control-label" for="donation-is-anonyme">Anonyme</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="text-white-50">Si un don a déjà été fait avec ce pseudo, il sera soustrait au prix des grades</span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="donation-is-gift" onchange="document.getElementById('donation-gift-pseudo').disabled = !this.checked;">
                                    <label class="custom-control-label" for="donation-is-gift">Ce don est un cadeau</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="donation-gift-pseudo" class="form-control" placeholder="Offert à" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Coupon">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="float-right">
                            <button type="submit" class="btn btn-success">Faire un don</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section id="donation-info">
    <h4 class="section-titre">Informations</h4>

</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/donations.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}