{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<section id="header">
    <div class="section-background"></div>
    <svg class="waves waves-bottom" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 50px; width: 100%;">
        <path d="M-0.56,-2.06 C149.99,150.00 349.03,149.50 500.00,-1.80 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #202020;"></path>
    </svg>
    <div class="d-flex justify-content-center">
        <h1 class="font-weight-bolder">Dons</h1>
    </div>
</section>
<section id="donation-form">
    <div class="container">
        <h4 class="section-titre">Faire un don</h4>
        <form action="#">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="mb-4">Suggestions de montant</h6>
                    <div class="d-flex flex-column prices">
                        <input type="radio" id="donation-price-1" name="donation-price-radio" checked>
                        <label for="donation-price-1" class="price">
                            8€
                            <span>(VIP)</span>
                        </label>
                        <input type="radio" id="donation-price-2" name="donation-price-radio">
                        <label for="donation-price-2" class="price">
                            15€
                            <span>(VIP+)</span>
                        </label>
                        <input type="radio" id="donation-price-3" name="donation-price-radio">
                        <label for="donation-price-3" class="price">
                            25€
                        </label>
                        <input type="radio" id="donation-price-4" name="donation-price-radio">
                        <label for="donation-price-4" class="price text-left">
                            <input type="number" id="donation-custom-price" class="form-control w-50" placeholder="Autre" disabled>
                            €
                        </label>
                    </div>
                </div>
                <div class="col-md-9 informations">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="donation-pseudo" name="donation-pseudo"  class="form-control" placeholder="Pseudo">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="donation-is-anonyme" name="donation-is-anonyme">
                                    <label class="custom-control-label" for="donation-is-anonyme">Anonyme</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="text-white-50">Si un don a déjà été fait avec ce pseudo, il sera soustrait au prix des grades</span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="donation-is-gift">
                                    <label class="custom-control-label" for="donation-is-gift">Ce don est un cadeau</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="donation-gift-pseudo" class="form-control" placeholder="Offert à" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message" rows="10" cols="10" ></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Coupon">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="float-right">
                            <button type="submit" class="btn btn-success">Faire un don</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section id="donation-info">
    <h4 class="section-titre">Informations</h4>

</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/donations.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

document.querySelectorAll('input[name=donation-price-radio]').forEach(() => {
    this.onchange = () => {
        document.querySelector('#donation-custom-price').disabled = !document.querySelector('#donation-price-4').checked
    }
})

document.querySelector('#donation-is-gift').onclick = () => {
    document.querySelector('#donation-gift-pseudo').disabled = !document.querySelector('#donation-is-gift').checked
    document.querySelector('#donation-gift-pseudo').value = ""
}

</script>
{% endblock %}