{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<section id="welcome-header">
    <div class="background position-absolute"></div>
    <div class="container d-flex flex-column">
        <div class="welcome-presentation d-flex flex-row">
            <div class="w-50 mr-4 d-flex justify-content-center align-items-center">
                <img class="logo" src="{% static 'website/img/animation1_6.gif' %}" />
                {# {% include 'static/website/img/compact_white.svg' %} #}
            </div>
            <div class="w-50">
                <h1 class="mb-2 font-weight-bolder">Bienvenue sur <br /><span class="title-redcraft">RedCraft</span> !</h1>
                <p class="text-description mt-4">Le retour de deux grandes communautés, TopRed et KingdomHills, à travers une toute nouvelle infrastructure Open Source. Partage et Innovation seront notre crédo ! </p>
            </div>
        </div>
        <div class="server-links d-flex flex-row justify-content-center">
            <div class="link-discord btn mr-4">
                <div class="lead">Rejoindre le <b>Discord</b></div>
                <div>420 joueurs en ligne</div>
            </div>
            <div class="link-server btn">
                <div class="lead">Rejoindre le <b>Serveur</b></div>
                <div>69 joueurs en ligne</div>
            </div>
        </div>
    </div>
</section>
<section id="presentation">
    <div class="container d-flex flex-column">
        <h2 class="section-titre">Présentation</h2>
    </div>
</section>
<section id="news">
    <div id="news-background" class="position-absolute"></div>
    <div class="container d-flex flex-column">
        <h2 class="section-titre">News</h2>
    </div>
</section>
<section id="maps">
    <div class="container d-flex flex-column">
        <h2 class="section-titre">Maps</h2>
    </div>
</section>
<section id="staff">
    <div class="container d-flex flex-column">
        <h2 class="section-titre">Staff</h2>
    </div>
</section>
{% endblock %}
{% block extracss %}
<link href="{% static 'website/css/pages/home.css' %}" rel="stylesheet">
{% endblock %}