{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% with title="Vote" waveFill="#202020" %}
{% include "website/components/section-header.html" %}
{% endwith %}
<section id="info">
    <div class="container">
        <h3 class="section-titre">{% translate "Voter pour le serveur" %}</h3>
        <p>{% translate "Sur cette page, vous trouvez plusieurs liens vous permettant de voter pour RedCraft. Ainsi, vous aidez le serveur à gagner en popularité ! Merci !" %}</p>
        <p>{% translate "Pour l'instant, les votes que vous effectuez depuis cette page ne seront pas comptabilisés sur votre compte RedCraft.org." %}</p>
    </div>
</section>
<section id="list">
    <svg class="waves waves-top" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100px; width: 100%;">
        <path d="M-0.27,95.22 C171.27,186.02 271.49,-49.98 500.84,32.06 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: #202020;"></path>
    </svg>
    <div class="container">
        <h3 class="section-titre">{% translate "Liste des sites" %}</h3>
        <div class="card-deck">
            {% for website in websites_list %}
            <div class="col-md-6 py-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="font-weight-bold">{{ website.titre }}</h3>
                        <img src="{% static website.path_img %}" class="mw-100 mb-3" alt="logo">
                        <p>{{ website.explainations }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ website.url }}" target="_blank" class="btn btn-primary btn-lg float-right btn-over-white"><i class="fas fa-arrow-right mr-2"></i>{% translate "Voter" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{% static 'website/css/pages/vote.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}