@import "../colors";

section#about {
    background-color: $brand-dark-2-dark;
    font-size: 1.2rem;

    img.logo-top {
        float: left;
        -webkit-filter: drop-shadow(0px 12px 12px #00000091);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#00000091')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#00000091')";
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        width: 100%;
        height: auto;
    }
}

section#faq {
    background-color: $brand-light-2;
    color: $brand-dark-2;
}

section#sources {
    a {
        color: $brand-light-2;

        &:hover {
            color: $brand-light-2-dark;
        }
    }

    #sources-background {
        background-image: linear-gradient(transparent 0%, #943a3ab8 0%), url(../../img/gray_concrete_powder.png);
        background-position: center;
        background-size: 200px;
        width: 100%;
        height: 200%;
        z-index: -1;
        top: 0;
    }
}