@import "../colors.scss"; 

#contact {
    background-color: $brand-dark-2-dark;

    textarea {
        min-height: 10rem;
    }

    @keyframes inputFailed {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 3px initial;
        }
        50% {
            transform: scale(1.03);
            box-shadow: 0 0 0 3px $brand-red-1;
        }
        100% {
            transform: scale(1);
            box-shadow: 0 0 0 3px initial;
        }
    }

    .input-failed {
        animation: inputFailed 1s;
        animation-fill-mode: forwards;
    }
}