@import "../colors.scss"; 

#contact {
    background-color: $brand-dark-2-dark;

    .container {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../../img/chevron_1.png);
            background-repeat: no-repeat;
            background-position: 22.5% 62.5%;
            background-size: 200px;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            transform: scaleX(-1);
            pointer-events: none;
        }

        .transition-container {
            position: relative;
    
            .transition-element {
                height: 100%;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                transition-duration: .3s;
                &.contact-from:not(.active), &.contact-success:not(.active), &.contact-failed:not(.active) {
                    transform: translateY(-2rem);
                }
                &.contact-details:not(.active) {
                    transform: translateY(2rem);
                }
                &.contact-failed, &.contact-success {
                    text-align: center;
                }
            }
    
            .active {
                opacity: 1;
                visibility: visible;
            }
    
            .donation-modal {
                width: 100%;
                text-align: center;
            }
            
            // Inputs validation
            textarea {
                min-height: 10rem;
            }
        
            @keyframes inputFailed {
                0% {
                    transform: scale(1);
                    box-shadow: 0 0 0 3px initial;
                }
                50% {
                    transform: scale(1.03);
                    box-shadow: 0 0 0 3px $brand-red-1;
                }
                100% {
                    transform: scale(1);
                    box-shadow: 0 0 0 3px initial;
                }
            }
        
            .input-failed {
                animation: inputFailed 1s;
                animation-fill-mode: forwards;
            }
        }
    }

}

section#info {
    background-color: $brand-light-2;
    color: $brand-dark-2;
}