@import "../colors";

section#donation-form {
    background-color: #202020;

    .container::before {
        content: "";
        position: absolute;
        background-image: url(../../img/chevron_1.png);
        background-repeat: no-repeat;
        background-position: 12% 15%;
        background-size: 200px;
        image-rendering: pixelated;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: scaleX(-1);
    }

    .prices {
        height: 100%;

        input[name=donation-price-radio] {
            opacity: 0;
            position: absolute;
        }

        input[name=donation-price-radio]:focus + .price {
            background-color: $brand-dark-2;
        }

        .price {
            cursor: pointer;
            box-shadow: 0 0 0 2px $brand-light-2;
            border-radius: 7px;
            margin-bottom: 1rem;
            font-weight: bolder;
            text-align: center;
            line-height: 60px;
            font-size: 1.25rem;

            span {
                color: $brand-dark-1-dark;
            }

            input#donation-custom-price {
                display: inline;
                background-color: transparent;
                pointer-events: none;
                font-weight: bolder;
                padding: 0;
                font-size: 1.25rem;
                width: 100px;
                text-align: right;

                &:focus {
                    background-color: transparent!important;
                    box-shadow: none!important;
                }

                &:disabled {
                    border: none;
                    color: $brand-light-1;
                    opacity: 1;
                }

                /* Chrome, Safari, Edge, Opera */
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                &[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }

        input[name=donation-price-radio]:checked + .price #donation-custom-price {
            pointer-events: visible;
        }

        input[name=donation-price-radio]:checked + .price {
            box-shadow: 0 0 0 4px $brand-red-1;
        }
    }

    .informations {
        textarea {
            height: 5.3em;
            resize: none;
        }
    }
}

section#donation-info {
    background-color: $brand-light-2;
    color: $brand-dark-2-dark;

    .contreparties {
        .contrepartie {
            border-radius: 7px;
            color: #ffffff;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
            padding: 1.5rem;
            height: 300px;
            overflow: hidden;
            margin-bottom: 1.5rem;

            h3 {
                font-weight: bolder;
            }
        }

        .vip {
            background-color: $brand-red-1;
            border: 4px solid $brand-red-1-dark;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#ffffff 0%, rgba($brand-red-1, 0.87) 0%), url(../../img/home-background.png);
                background-size: cover;
                background-position: bottom;
                z-index: 0;
            }
        }
        .vip-plus {
            background-color: $brand-red-2;
            border: 4px solid $brand-red-2-dark;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#ffffff 0%, rgba($brand-red-2, 0.87) 0%), url(../../img/home-background.png);
                background-size: cover;
                background-position: bottom;
            }
        }
    }
}