@import "../colors";

section#donation-input {
    background-color: #202020;

    .container::before {
        content: "";
        position: absolute;
        background-image: url(../../img/chevron_1.png);
        background-repeat: no-repeat;
        background-position: 12% 15%;
        background-size: 200px;
        image-rendering: pixelated;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: scaleX(-1);
    }

    .transition-container {
        position: relative;

        .transition-element {
            opacity: 0;
            visibility: hidden;
            transition-duration: .3s;
        }
        .active {
            opacity: 1;
            visibility: visible;
        }
        .donation-fill:not(.active) {
            transform: translateY(2rem);
        }
        .donation-modal:not(.active) {
            transform: translateY(-2rem);
        }
        .donation-modal {
            width: 100%;
            text-align: center;

            // Reference https://stackoverflow.com/questions/41078478/css-animated-checkmark
            .checkmark-circle {
                stroke-dasharray: 166;
                stroke-dashoffset: 166;
                stroke-width: 5;
                stroke-miterlimit: 10;
                stroke: $brand-red-1-dark;
                fill: none;
                animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
            }

            .checkmark {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                display: block;
                stroke-width: 3;
                stroke: #fff;
                stroke-miterlimit: 10;
                margin: auto;
                box-shadow: inset 0px 0px 0px $brand-red-1;
                animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
            }

            .checkmark-icon {
                transform-origin: 50% 50%;
                stroke-dasharray: 48;
                stroke-dashoffset: 48;
                animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
            }
            
            .checkmark-icon:nth-child(2) {
                animation-delay: .9s;
            }

            @keyframes stroke {
                100% {
                    stroke-dashoffset: 0;
                }
            }
            @keyframes scale {
                0%, 100% {
                    transform: none;
                }
                50% {
                    transform: scale3d(1.1, 1.1, 1);
                }
            }
            @keyframes fill {
                100% {
                    box-shadow: inset 0px 0px 0px 30px $brand-red-1;
                }
            }
        }
    }

    form#donation-form {
        @keyframes inputFailed {
            0% {
                transform: scale(1);
                box-shadow: 0 0 0 3px initial;
            }
            50% {
                transform: scale(1.03);
                box-shadow: 0 0 0 3px $brand-red-1;
            }
            100% {
                transform: scale(1);
                box-shadow: 0 0 0 3px initial;
            }
        }

        .input-failed {
            animation: inputFailed 1s;
            animation-fill-mode: forwards;
        }
    
        .prices {
            height: 100%;
    
            input[name=sum_radio] {
                opacity: 0;
                position: absolute;
            }
    
            input[name=sum_radio]:focus + .price {
                background-color: $brand-dark-2;
            }
    
            .price {
                cursor: pointer;
                box-shadow: 0 0 0 2px $brand-light-2;
                border-radius: 7px;
                margin-bottom: 1rem;
                font-weight: bolder;
                text-align: center;
                line-height: 60px;
                font-size: 1.25rem;
    
                span {
                    color: $brand-dark-1-dark;
                }
    
                input#donation-custom-price {
                    display: inline;
                    background-color: transparent;
                    pointer-events: none;
                    font-weight: bolder;
                    padding: 0;
                    font-size: 1.25rem;
                    width: 100px;
                    text-align: right;
    
                    &:focus {
                        background-color: transparent!important;
                        box-shadow: none!important;
                    }
    
                    &:disabled {
                        border: none;
                        color: $brand-light-1;
                        opacity: 1;
                    }
    
                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
    
                    /* Firefox */
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }
    
            input[name=sum_radio]:checked + .price #donation-custom-price {
                pointer-events: visible;
            }
    
            input[name=sum_radio]:checked + .price {
                box-shadow: 0 0 0 4px $brand-red-1;
            }
        }
    
        .informations {
            textarea {
                height: 5.3em;
                resize: none;
            }
        }
    }
}

section#donation-info {
    background-color: $brand-light-2;
    color: $brand-dark-2-dark;

    .contreparties {
        .contrepartie {
            color: #ffffff;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
            height: 300px;
            overflow: hidden;
            margin-bottom: 1.5rem;
        }

        .vip {
            background-color: $brand-red-1;
            border-color: $brand-red-1-dark;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#ffffff 0%, rgba($brand-red-1, 0.87) 0%), url(../../img/home-background.png);
                background-size: cover;
                background-position: bottom;
                z-index: 0;
            }
        }
        .red-vip {
            background-color: $brand-red-2;
            border-color: $brand-red-2-dark;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#ffffff 0%, rgba($brand-red-2, 0.87) 0%), url(../../img/home-background.png);
                background-size: cover;
                background-position: bottom;
            }
        }
    }
}