@import "../colors";
@import "../components/article";

section {

    &#welcome-header {
        padding: 15vh 0em;

        .section-background {
            background-image: linear-gradient(transparent 0%, #26282942 0%), url(../../img/home-background.png);
            transform: translateZ(-50px) scale(2);
        }
        .welcome-presentation {
            margin-bottom: 6rem;

            .logo {
                height: 85%;
                -webkit-filter: drop-shadow(0px 12px 12px #00000091);
                -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#00000091')";
                filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#00000091')";
                image-rendering: pixelated;

            }

            .text-description {
                font-size: 1.2rem;
            }
        }
        

        .title-redcraft {
            font-size: 3rem;
        }

        .server-links {

            @media (max-width: 767.98px) {
                .btn {
                    padding: 0.25rem 0.75rem!important;
                }
            }

            .btn {
                padding: .375rem 2.75rem;

                &.link-discord {
                    background-color: $color-discord;
                    

                    &:hover {
                        background-color: $color-discord-dark;
                    }
                }
                
                &.link-server {
                    background-color: $brand-red-1;
                    overflow: hidden;

                    &:hover {
                        background-color: $brand-red-1-dark;
                    }

                    .link-server-animation {
                        display: flex;
                        position: relative;

                        .before-click {
                            transition-duration: .3s;
        
                            &.copied {
                                opacity: 0;
                                transform: translateY(-20px);
                            }
                        }
        
                        .ip-copied {
                            transform: translateY(20px);
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            transition-duration: .3s;
                            opacity: 0;
        
                            &.copied {
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }
                    }
                }
            }
        }
    }

    &#presentation {
        background-color: #202020;

        .container {
            background-image: url(../../img/chevron_1.png);
            background-repeat: no-repeat;
            background-position: 21% 15%;
            background-size: 200px;
            image-rendering: pixelated;
        }

        .presentation {
            margin-bottom: 5rem;

            &:nth-child(2n) {
                flex-direction: row-reverse;

                .presentation-text {
                    text-align: left!important;
                    padding-left: 4rem;
                }
            }

            .presentation-text {
                text-align: right;
            }

            .presentation-img {
                border-radius: 7px;
            }
        }
    }

    &#news {

        #news-background {
            background-image: linear-gradient(transparent 0%, #943a3ab8 0%), url(../../img/gray_concrete_powder.png);
            background-size: 200px;
            height: 200%;
            transform: translate3d(0px, -25%, 20px)scale(0.8);
        }
    }

    &#serveurs {
        $animation-server-length: .8s;
        $animation-distance: 10px;

        background-color: #B6B9BD;
        color: #202020;

        .container {
            background-image: url(../../img/chevron_2.png);
            background-repeat: no-repeat;
            background-position: 100% 0%;
            background-size: 200px;
            image-rendering: pixelated;
        }

        .servers-listing {
            .server {
                cursor: pointer;
                padding-right: .25rem;
                transition-duration: .2s;

                &:hover {
                    padding-right: 0rem;
                    padding-left: .25rem;
                }
            }
        }

        input:checked + .server-active{
            z-index: 3;
            .server-active-animate {
                opacity: 1;
                
                transform: translateY(0px);
            }
        }

        input:not(:checked) + .server-active {
            transition-delay: $animation-server-length/2;
            z-index: -1;
            .server-active-animate {
                animation: server-active-out $animation-server-length;
                opacity: 0;
                transform: translateY($animation-distance);
            }
        }

        .server-active-container {

            .server-active {
                position: absolute;

                .server-active-animate {
                    transition-duration: $animation-server-length;
                    transition-delay: $animation-server-length/4;
                    &.image {
                        transition-delay: $animation-server-length/2;
                    }
                }

                .server-active-title {
                    color: #494a4c;
                }
    
                .server-active-img {
                    -webkit-filter: drop-shadow(0px 12px 12px #4e4e4e);
                    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#4e4e4e')";
                    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#4e4e4e')";
                }
            }

            input[type=radio] {
                display: none;
            }
        }

        @keyframes server-active-out {
            0% {
                transform: translateY(0px);
                opacity: 1;
                z-index: 2;
            }
            50% {
                opacity: 0;
            }
            99% {
                transform: translateY(-$animation-distance);
                z-index: -1;
            }
            100% {
                transform: translateY($animation-distance);
            }
        }
    }

    &#staff {
        // color: #202020;
        
        #staff-background {
            background-image: linear-gradient(transparent 0%, #5f636b94 0%), url(../../img/stone.png);
            background-size: 200px;
            // transform: translate3d(0px, 0px, -100px)scale(2);
        }

        .staff-img {
            -webkit-filter: drop-shadow(0px 0px 5px #424344);
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#424344')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#424344')";
            border-radius: 7px;
        }
    }
}