@import "../colors";

section#info {
    background-color: $brand-dark-2-dark;
}

section#list {
    background-color: $brand-light-2;
    color: $brand-dark-2;

    .card {
        border-color: $brand-dark-1!important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}