section {
  padding: 7em 0em;
  position: relative;
  overflow: hidden;
}

section .section-titre {
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}

section#welcome-header {
  padding: 15vh 0em;
}

section#welcome-header .background {
  background-image: linear-gradient(transparent 0%, #262829a6 0%), url(../../img/home-background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
  transform: translateZ(-50px) scale(2);
}

section#welcome-header .welcome-presentation {
  margin-bottom: 6rem;
}

section#welcome-header .welcome-presentation .logo {
  height: 85%;
  -webkit-filter: drop-shadow(0px 12px 12px #00000091);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#00000091')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=12, Color='#00000091')";
}

section#welcome-header .welcome-presentation .text-description {
  font-size: 1.2rem;
}

section#welcome-header .title-redcraft {
  font-size: 3rem;
}

section#welcome-header .server-links .link-discord {
  background-color: #7289DA;
}

section#welcome-header .server-links .link-discord:hover {
  background-color: #6176c4;
}

section#welcome-header .server-links .link-server {
  background-color: #AC4646;
}

section#welcome-header .server-links .link-server:hover {
  background-color: #943a3a;
}

section#presentation {
  background-color: #202020;
}

section#news #news-background {
  background-image: linear-gradient(transparent 0%, #16161794 0%), url(../../img/gray_concrete_powder.png);
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

section#news .news-container .news {
  background-color: #ECF0F1;
  border-radius: 7px;
}
